{% extends "layout.html" %}
{% block title %}
Discord Bot Creator
{% endblock %}
{% block content %}
<h1>Get code for your own Discord Bot!</h1>
<div class="container">
    <h2>What do you want your bot to do?</h2>
    <div class="group">
        <input type="checkbox" id="music" name="music" value="muzyka"/>
        <label for="music">Play requested music</label>
    </div>
    <div class="group">
        <input type="checkbox" id="pictures"/>
        <label for="pictures">Send requested pictures</label>
    </div>
    <div class="group">
        <input type="checkbox" id="something1"/>
        <label for="something1">something1</label>
    </div>
    <div class="group">
        <input type="checkbox" id="something2"/>
        <label for="something2">something2</label>
    </div>
</div>
{% endblock %}