{% extends "layout.html" %}
{% block title %}
Discord Bot Creator - INSTRUCTION
{% endblock %}
{% block content %}
<h1>How to add your bot to your Discord server?</h1>
<div class="container_instruction">
<h2> 1. Click the button with a desired function</h2>
<h2> 2. You'll be sent to a page where you can choose to which of your servers you want to add the bot</h2>
<h2> 3. Click "Authorize" and enjoy!</h2>
</div>
<div class="container_instruction_image">
<img src="../static/instruction.png" width="490" height="580">
</div>
{% endblock %}